HS_ROOT=./runtime/instance
HEADSCALE_IMAGE=ghcr.io/juanfont/headscale
HEADSCALE_TAG=0.28.0
HS_CONTAINER=headscale
SERVER_URL="https://<your-headscale-domain>"
PORT=8080
LISTEN_ADDR=0.0.0.0
FIRST_USERNAME=admin
BASE_DOMAIN=headscale.internal
DOCKER_MODE=network
HS_DOCKER_NETWORK=headscale
DERP_MODE=disabled
DERP_REGION_ID=999
DERP_REGION_CODE=headscale
DERP_REGION_NAME="Headscale Embedded DERP"
DERP_STUN_LISTEN_ADDR=0.0.0.0:3478
DERP_IPV4=
DERP_IPV6=
DERP_INCLUDE_DEFAULTS=true
DERP_AUTO_ADD_EMBEDDED_REGION=true
